input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus{
	color: #000 !important;
}

label.error, span.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	color: #000 !important;
}
.b-btn-red{
	display: inline-block;
	background-color: red;
	color: #FFF;
	box-sizing: border-box;
    width: 182px;
    padding: 7px 0;
    font-family: Tahoma,Arial,sans-serif, Geneva, Kalimati, Sans-serif;
    font-size: 12px;
    text-align: center;
}
.feedback__submit{
}

.b-popup{
	padding: 24px 32px 32px 32px;
}
	.b-popup h2{
		margin-bottom: 12px;
	}
	.b-popup .b-btn{
		color: #FFF;
		display: inline-block;
		margin-top: 14px;
		padding: 7px 45px;
		background-color: #959595;
	}

.color-min.active-color{
	border: 1px solid #444;
}
.color-min:hover{
	border: 1px solid #444;
}
.col3-list .list .item {
	margin-left: 10px;
}
#top_nav {
	position: static !important;
}
.content {
	clear: none !important;
}
.content.proba {
	margin-top: 0px;
}
#accordion {
	display: none;
}
.main-man {
	display: none;
}
.main-woman {
	display: none;
}
.mobile-but {
	display: none;
}
.single-slide {
	display: none;
}
.main-demo {
	text-align: left;
}
.logo-l {
	background-image: url(/local/templates/demoshop/images/logo.svg);
	background-size: contain;
}
.square {
	width: calc((100% - 36px) / 4);
	display: inline-block;
	margin-right: 4px !important;
	margin-bottom: 6px !important;
	border: 0px;
	font-size: 16px;
}
.square:nth-child(4n) {
	margin-right: 0px !important;
}
.span8 {
	width: 100%;
}
.map.left-list {
	padding-left: 0px;
}
.square-container h3 {
	font-size: 16px;
	color: white;
	position: absolute;
	top: 50%;
	left: 20px;
}
.square-container {
	position: relative;
}
.span8 ul {
	display: none;
}
.span8 h3 {
	font-size: 14px;
}
.toggle-button {
	display: none;
}
.filter-hide {
	display: none;
}
.show {
	display: block !important;
}
.squares {
	margin-top: 10px;
}
.accordion-toggle .ui-icon {
	display: none;
}
.accordion:first-child {
	margin-top: 10px;
}
.slider.slider-horizontal {
	width: 90% !important;
}
.nav-bg{
	height: unset;
}
#footer{
	position: unset;
	height: unset;
	margin-top: unset !important;
}
.demo-clearfix{
	height: unset;
}
.menu-wrap{
	display: none;
}
.menu-header{
	display: none;
}
.hide{
	display: none !important;
}
.slick-slide img{
	max-height: 400px;
	display: inline-block;
}
.slick-container{
	height: 0;
	margin-bottom: 0;
}